@font-face {
    font-family: "pacifico";
    src: url('tipografias/pacifico.ttf');
}
@font-face {
    font-family: "monoton";
    src: url('tipografias/monoton.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "monoton";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('FONDO.gif');
    background-size:contain;
    background-position: center;
    
    
        text-shadow: 0 0 0.2em #8F7;
      
    
}

.barra-padre {
    width: 98%;
 position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


   
}

.barra-hijo {
    z-index: 10;
    position: fixed;
    width: 98%;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom right, #00ff9962 0%, #00006690 100%);
    border-radius: 10px;
    margin-top:45px;
}

.barra-hijo a {
    text-decoration: none;
   color: rgb(255, 255, 255);
}

.texto-p {
    color: white;
    width: 98%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.carousel {
    margin-top: 40px;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('FONDO.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.navigation button {
 background-color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20%;
}